@import '../../../assets/styles/module.scss';

.range {
    display: flex;
    align-items: center;
    width: fit-content;
    &__label {
        font-size: 1rem;
        margin-right: 0.4rem;
        min-width: 7rem;
        text-align: start;
    }
    &__box {
        margin-top: -1px;
    }
    &__box:focus-visible {
        outline: 0;
    }
    &__min {
        font-size: 1rem;
        margin-right: 0.4rem;
    }
    &__max {
        font-size: 1rem;
        margin-left: 0.4rem;
    }
}
