@import '../../../assets/styles/module.scss';

.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #9d9d9da1;
    position: absolute;
    top: 0;
    &__modal {
        background: $color-grey-white;
        min-width: 30vw;
        padding: 2rem 1rem;
        border-radius: 0.6rem;
    }
    &__description {
        font-size: 1.1rem;
        text-align: center;
        margin-bottom: 0.8rem;
    }
    &__buttons {
        display: flex;
        justify-content: center;
    }
}