
// colors

// primary
$color-primary-base       : #016d38;
$color-primary-dark       : #005833;
$color-primary-light      : #02d46f;

// secondary
$color-secondary-base     : #ffdc5d;
$color-secondary-dark     : #c9ab2a;
$color-secondary-light    : #fff078;
$color-secondary-hover    : #ffd333;

// complementary
$color-complementary-1    : #9be9ba;
$color-complementary-2    : #a28e4d;
$color-complementary-3    : #f4f2ee;

// alerts
$color-alert-success      : #28a745;
$color-alert-error        : #ca505c;
$color-alert-warning      : #ffc100;
$color-alert-info         : #007eff;

// greys
$color-grey-white         : #ffffff;
$color-grey-6             : #fbfbfb;
$color-grey-5             : #eeeeee;
$color-grey-4             : #cccccc;
$color-grey-base          : #999999;
$color-grey-3             : #666666;
$color-grey-2             : #414141;
$color-grey-1             : #333333;
$color-grey-black         : #1b1b1b;

// gradients
$color-gradient-1-left    : #128c31;
$color-gradient-1-center  : #0d6122;
$color-gradient-1-right   : #014a26;
$color-gradient-2-left    : #0d6122;
$color-gradient-2-right   : #128c31;
$color-gradient-3-left    : #ffffff;
$color-gradient-3-right   : #e5f0eb;
