
// utilitians

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.icon {
    color: $color-primary-base;
    max-height: 1rem;
    cursor: pointer;
}
.curtain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #9d9d9da1;
    position: fixed;
    top: 0;
}
