<table class="table">
    <tr>
        <th *ngFor="let header of headers.headerList">{{ headers.baseTranslate + header | translate }}</th>
    </tr>
    <tr *ngIf="dataList.length === 0">
        <td class="empty" *ngFor="let header of headers.headerList"></td>
    </tr>
    <tr *ngFor="let row of dataList">
        <td *ngFor="let header of headers.headerList; let idx = index">
            <span *ngIf="dataTypes[idx].type === 'text'">{{ row[header] }}</span>
            <span *ngIf="dataTypes[idx].type === 'image'" class="center">
                <img [src]="row[header]" alt="Imagen Registro" class="icon table__icon-pokemon"
                     (click)="clickImage.emit(row)">
            </span>
            <span *ngIf="dataTypes[idx].type === 'action'" class="center">
                <img *ngFor="let url of dataTypes[idx].actions; let idxIcon = index" [src]="url" alt="Icono acción" class="icon"
                     (click)="clickIcon.emit({ object: row, action: idxIcon })">
            </span>
        </td>
    </tr>
</table>