.page-pokemon-panel {
    &__search {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    &__table {
        margin-bottom: 1rem;
    }
    &__update {
        
    }
}